---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Three fiber</title>
	</head>
	<body>
		<slot>
			Nothing in the slot
		</slot>
	</body>
</html>
